*{
  margin: 0;
  padding: 0;  
}

body{
    background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header{
    text-align: left;
    background-color: black;
    color: white;
}

.lenguages-container{
    margin-bottom: 30px;
    text-align: center;
}

.result-container{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.firstSection, .secondSection{
    display: flex;
    flex-direction: column;
    width: 680px;
}

label{
    text-align: center;
    border: 1px solid black;
    background-color: rgb(166, 164, 164);
}